@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

body {
  background-color: #f5f0e1;
  font-family: 'Poppins', sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
h1 {
  color: white;
  font-family: 'Poppins', sans-serif;;
  font-size: 40px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.app-wrapper-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 0;
  width: 70%;
  border-radius: 4px;
  box-shadow: 2px 3px 4px rgb(164, 157, 156, 0.7);
  background-color: #ebeceb;
}
