.nav {
    grid-area: n;
    background-color: rgba(208, 127, 28, 0.89);
    padding: 20px;
    border-radius: 4px;
    width: 10%;
    box-shadow: 2px 3px 4px rgba(208, 127, 28, 0.7);

}

.item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.item a.active{
    color: gold;
    font-size: 30px;
}
