.nav {
    padding-top: 30px;
    background-color: #a49d9c;
    border-radius: 4px;
    width: 30%;
    box-shadow: 2px 3px 5px rgb(164, 157, 156, 0.7);

}
.item {
    margin-bottom: 30px;
}

.item a {

    text-decoration: none;
    color: white;
}

